/* Website style */
.nice_text {
  text-align: center;
  font-family: 'Satisfy', cursive;
}

.about {
  font-family: 'Dosis', sans-serif;
}

/* Blinking effect */
.blinking {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
